name: go

on:
  workflow_call:
    inputs:
      go-versions:
        required: false
        type: string
        default: '["stable"]'  # comma-separated list of versions
      os-versions:
        required: false
        type: string
        default: '["ubuntu-latest"]'  # comma-separated list of versions
      skip-golangci:
        description: 'Skip running golangci-lint job'
        required: false
        type: boolean
        default: false
      skip-tests:
        description: 'Skip running go tests'
        required: false
        type: boolean
        default: false
      skip-gopls:
        description: 'Skip running gopls checks'
        required: false
        type: boolean
        default: false

jobs:
  find-dirs:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.find-dirs.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - id: find-dirs
        uses: fredrikaverpil/github/.github/actions/find-dirs@main
        with:
          file_patterns: go.mod
          exclude_patterns: .tools

  go-tool-cache:
    strategy:
      fail-fast: false
      matrix:
        go-version: ${{ fromJson(inputs.go-versions) }}
        os-version: ${{ fromJson(inputs.os-versions) }}
    runs-on: ${{ matrix.os-version }}
    env:
      GOTOOLCHAIN: local
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - name: cache go tools
        uses: actions/cache@v4
        id: tools-cache
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-tool-${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/.tools/go.mod', '**/.tools/go.sum') }}
          restore-keys: |
            go-tool-${{ runner.os }}-go${{ matrix.go-version }}-
            go-tool-${{ runner.os }}-
      - name: Install Go tools
        run: go install tool
        working-directory: ${{ github.workspace }}/.tools
      - name: review ~/go/bin
        run: ls -alh ~/go/bin

  format:
    needs: [find-dirs, go-tool-cache]
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.find-dirs.outputs.matrix).dir }}
        go-version: ${{ fromJson(inputs.go-versions) }}
    runs-on: ubuntu-latest  # no need for matrix
    env:
      GOTOOLCHAIN: local
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - uses: actions/cache@v4
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-tool-${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/.tools/go.mod', '**/.tools/go.sum') }}
          restore-keys: |
            go-tool-${{ runner.os }}-go${{ matrix.go-version }}-
            go-tool-${{ runner.os }}-
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task -t Taskfile.go.yml format
        working-directory: ${{ matrix.dir }}

  golangci-lint:
    needs: [find-dirs, go-tool-cache]
    if: ${{ !inputs.skip-golangci }}
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.find-dirs.outputs.matrix).dir }}
        go-version: ${{ fromJson(inputs.go-versions) }}
    runs-on: ubuntu-latest  # no need for matrix
    env:
      GOTOOLCHAIN: local
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - uses: actions/cache@v4
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-tool-${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/.tools/go.mod', '**/.tools/go.sum') }}
          restore-keys: |
            go-tool-${{ runner.os }}-go${{ matrix.go-version }}-
            go-tool-${{ runner.os }}-
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task -t Taskfile.go.yml golangci-lint
        working-directory: ${{ matrix.dir }}

  govulncheck:
    needs: [find-dirs, go-tool-cache]
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.find-dirs.outputs.matrix).dir }}
        go-version: ${{ fromJson(inputs.go-versions) }}
        os-version: ${{ fromJson(inputs.os-versions) }}
    runs-on: ${{ matrix.os-version }}
    env:
      GOTOOLCHAIN: local
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - uses: actions/cache@v4
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-tool-${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/.tools/go.mod', '**/.tools/go.sum') }}
          restore-keys: |
            go-tool-${{ runner.os }}-go${{ matrix.go-version }}-
            go-tool-${{ runner.os }}-
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task -t Taskfile.go.yml govulncheck
        working-directory: ${{ matrix.dir }}

  # TODO: apply quickfixes using gopls (maybe as separate job): gopls codeaction -w -exec -kind=quickfix <filename1.go> <filename2.go> ...
  gopls:
    if: ${{ !inputs.skip-gopls }}
    needs: [find-dirs, go-tool-cache]
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.find-dirs.outputs.matrix).dir }}
        go-version: ${{ fromJson(inputs.go-versions) }}
    runs-on: ubuntu-latest  # no need for matrix
    env:
      GOTOOLCHAIN: local
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - name: Get date for weekly cache
        id: date
        run: echo "week=$(date +'%Y-%U')" >> $GITHUB_OUTPUT
      - uses: actions/cache@v4
        # NOTE: used so to 'task' is available
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-tool-${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/.tools/go.mod', '**/.tools/go.sum') }}
          restore-keys: |
            go-tool-${{ runner.os }}-go${{ matrix.go-version }}-
            go-tool-${{ runner.os }}-
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      # NOTE: does not play well with `go tool`, causes golang.org/x/tools conflicts. Therefore we install it here.
      - run: task -t Taskfile.go.yml gopls
        working-directory: ${{ matrix.dir }}

  go-test:
    if: ${{ !inputs.skip-tests }}
    needs: [find-dirs, go-tool-cache]  # FIXME: needs cache for 'task' to be available
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.find-dirs.outputs.matrix).dir }}
        go-version: ${{ fromJson(inputs.go-versions) }}
        os-version: ${{ fromJson(inputs.os-versions) }}
    runs-on: ${{ matrix.os-version }}
    env:
      GOTOOLCHAIN: local
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - name: cache go tools
        uses: actions/cache@v4
        id: tools-cache
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-tool-${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/.tools/go.mod', '**/.tools/go.sum') }}
          restore-keys: |
            go-tool-${{ runner.os }}-go${{ matrix.go-version }}-
            go-tool-${{ runner.os }}-
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task -t Taskfile.go.yml go-test
        working-directory: ${{ matrix.dir }}

  go-vet:
    needs: [find-dirs, go-tool-cache]  # FIXME: needs cache for 'task' to be available
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.find-dirs.outputs.matrix).dir }}
        go-version: ${{ fromJson(inputs.go-versions) }}
    runs-on: ubuntu-latest  # no need for matrix
    env:
      GOTOOLCHAIN: local
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: false
      - name: cache go tools
        uses: actions/cache@v4
        id: tools-cache
        with:
          path: |
            ~/go/bin
            ~/go/pkg/mod
            ~/.cache/go-build
          key: go-tool-${{ runner.os }}-go${{ matrix.go-version }}-${{ hashFiles('**/.tools/go.mod', '**/.tools/go.sum') }}
          restore-keys: |
            go-tool-${{ runner.os }}-go${{ matrix.go-version }}-
            go-tool-${{ runner.os }}-
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - run: task -t Taskfile.go.yml go-vet
        working-directory: ${{ matrix.dir }}
