name: lua

on:
  workflow_call:
    inputs:
      os-versions:
        required: false
        type: string
        default: '["ubuntu-latest"]'  # comma-separated list of versions

jobs:
  find-dirs:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.find-dirs.outputs.matrix }}
    steps:
      - uses: actions/checkout@v6
      - id: find-dirs
        uses: fredrikaverpil/github/.github/actions/find-dirs@main
        with:
          file_patterns: stylua.toml

  format:
    needs: [find-dirs]
    strategy:
      fail-fast: false
      matrix:
        dir: ${{ fromJson(needs.find-dirs.outputs.matrix).dir }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin
          key: stylua-${{ runner.os }}-${{ hashFiles('**/stylua.toml') }}
          restore-keys: |
            stylua-${{ runner.os }}-
      - name: Add ~/.cargo/bin to PATH
        run: echo "$HOME/.cargo/bin" >> $GITHUB_PATH
      - name: Install Task
        uses: go-task/setup-task@v1
        with:
          version: 3.x
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Check formatting with stylua
        run: task -t Taskfile.lua.yml format
        working-directory: ${{ matrix.dir }}
